@font-face {
    font-family: 'Forma DJR Banner';
    src: url('../fonts/webfont/FormaDJRBanner-Regular.woff2') format('woff2'),
        url('../fonts/webfont/FormaDJRBanner-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Forma DJR Banner';
    src: url('../fonts/webfont/FormaDJRBanner-Regular.woff2') format('woff2'),
        url('../fonts/webfont/FormaDJRBanner-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Forma DJR Banner';
    src: url('../fonts/webfont/FormaDJRBanner-Medium.woff2') format('woff2'),
        url('../fonts/webfont/FormaDJRBanner-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Forma DJR Banner';
    src: url('../fonts/webfont/FormaDJRBanner-Medium.woff2') format('woff2'),
        url('../fonts/webfont/FormaDJRBanner-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Forma DJR Banner';
    src: url('../fonts/webfont/FormaDJRBanner-Bold.woff2') format('woff2'),
        url('../fonts/webfont/FormaDJRBanner-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Forma DJR Banner';
    src: url('../fonts/webfont/FormaDJRBanner-Bold.woff2') format('woff2'),
        url('../fonts/webfont/FormaDJRBanner-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

